.menu {
  flex-flow: column;
}

.menu__wrapper {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  gap: 72px;
  margin: 36px 0;
  padding: 36px;
  background-color: #E8D69D;
  border: 8px solid #5C3509;

  & .menu__headings {
    width: 100%;
    text-align: center;
    text-shadow: 4px 4px #111;
  }

  & .menu__left {
    flex: 1;
  }

  & .menu__right {
    flex: 1;
  }

  & .menu__row {
    display: flex;
    flex-flow: row;
    justify-content: space-between;

    & p {
      margin: 0;
      line-height: 32px;
    }
  }
}