.categoryList {
  padding: 0;
  list-style: none;
}

.listItem {
  display: flex;
  flex-flow: row;
  gap: 1rem;
  align-items: flex-end;
  margin-bottom: 1rem;

  & label {
    flex: 1;
    min-width: 0;

    & textarea {
      height: 2rem;
    }
  }

  & button {
    flex-shrink: 0;
  }
}
