.section {
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  border: 5px solid var(--white);
  background-color: var(--offwhite);
  box-shadow: 0 4px 8px hsl(0 0 0 / 10%);
}

.sectionHeader {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.sectionName {
  font-size: 1.5rem;
  line-height: 2rem;
}

.buttonsHeader {
  display: flex;
  flex-flow: row;
  gap: 1rem;
}

.formContent {
  display: flex;
  flex-flow: column;
  gap: 1rem;
  margin: 1rem auto;
  transition: max-height var(--slowtransition) ease-out,
    margin var(--slowtransition) ease, opacity var(--slowtransition) ease;
  max-height: fit-content;
  opacity: 1;

  &.collapsed {
    max-height: 0;
    overflow: hidden;
    margin: 0;
    opacity: 0;
  }

  & > button {
    margin: auto;
  }
}
