.weather-forecast {
  display: flex;
  flex-flow: column;
  align-items: center;

  & .weather-forecast__title {
    align-self: flex-start;
    margin-bottom: 1rem;
    color: var(--primary);
  }

  & .weather-forecast__container {
    display: flex;
    flex-flow: column;
    gap: 1rem;

    @media (min-width: 1024px) {
      flex-flow: row;
      gap: 2rem;
    }
  }

  & .weather-forecast__item {
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 1rem;

    @media (min-width: 1024px) {
      flex-flow: column;
      justify-content: center;
      text-align: center;
    }

    & .weather-forecast__item-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 4rem;
      width: 4rem;
      background-color: var(--neutral-50);
      border-radius: 2rem;

      & span {
        width: 2rem;
        height: 2rem;
        mask-size: cover;
        background-color: var(--neutral-500);

        &.clear-day {
          mask-image: url("assets/icons/clear-day.svg");
        }

        &.clear-night {
          mask-image: url("assets/icons/clear-night.svg");
        }

        &.cloudy {
          mask-image: url("assets/icons/cloudy.svg");
        }

        &.fog {
          mask-image: url("assets/icons/fog.svg");
        }

        &.partly-cloudy-day {
          mask-image: url("assets/icons/partly-cloudy-day.svg");
        }

        &.partly-cloudy-night {
          mask-image: url("assets/icons/partly-cloudy-night.svg");
        }

        &.rain {
          mask-image: url("assets/icons/rain.svg");
        }

        &.snow {
          mask-image: url("assets/icons/snow.svg");
        }

        &.wind {
          mask-image: url("assets/icons/wind.svg");
        }
      }
    }

    & .weather-forecast__item-info {
      & .weather-forecast__item-date {
        font-size: 1rem;
        line-height: 1rem;
        color: var(--secondary);
      }

      & .weather-forecast__item-temp {
        font-size: 2rem;
        line-height: 2rem;
        color: var(--primary);

        @media (min-width: 1024px) {
          font-size: 1rem;
          line-height: 1rem;
        }
      }
    }
  }
}
