.heroHeader {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  min-height: calc(100vh - (72px + 10px));
  padding: 1rem;
  border-top: 5px solid var(--white);

  @media (min-width: 1024px) {
    flex-flow: row;
    padding: 35px;
  }

  & h1 {
    font-size: 6rem;

    @media (min-width: 1024px) {
      font-size: 8rem;
    }
  }

  & .firstHalf {
    text-shadow:
      5px 5px var(--black),
      10px 10px var(--red);
  }
  & .secondHalf {
    align-self: flex-end;
    text-align: right;
    text-shadow:
      -5px -5px var(--black),
      -10px -10px var(--yellow);
  }
}
