/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

#root {
  padding: 1rem;
}

body {
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  text-wrap: pretty;
}

/* COLORS */
:root {
  --red: hsl(360 72 51);
  --yellow: hsl(45 93 47);
  --blue: hsl(201 90 27);
  --white: hsl(0 0 100);
  --offwhite: hsl(0 0 98);
  --lightgrey: hsl(0 0 92);
  --grey: hsl(0 0 80);
  --darkgrey: hsl(0 0 25);
  --black: hsl(0 0 4);

  background-color: var(--white);
}

/* TYPOGRAPHY */
:root {
  --system: arial, sans-serif;
  --sans: helvetica, sans-serif;
  --serif: georgia, serif;
  color: var(--black);
}

h1,
h2 {
  font-size: 3.375rem;
  line-height: 3.75rem;
}

h3 {
  font-size: 2.25rem;
  line-height: 3.125rem;
}

h4,
h5 {
  font-size: 1.5rem;
  line-height: 1.25;
}

h6 {
  font-size: 1rem;
  line-height: 1.5;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

/* GLOBAL */
#root {
  display: flex;

  & > * {
    flex: 1;
  }
}
