.home {
  flex-flow: column;
}

.home__headings {
  flex: 1;
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
  background-image: url(./restaurant.png);
  background-position: bottom;
  background-repeat: no-repeat;

  & h1 {
    text-shadow: 4px 4px #fff;
  }
}