.experience {
  margin-bottom: 2rem;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.experienceHeader {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 1rem;
}

.experienceTitle {
  & h4 {
    text-transform: uppercase;
  }

  & h5 {
    color: var(--red);
  }
}

.experienceDates {
  font-style: italic;
}

.introduction {
  margin-bottom: 1rem;
}

.categories {
  list-style: none;
  padding: 0;
}
