.welcomeWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  & .welcomeHeader {
    text-align: center;

    & h1 {
      color: var(--accent);
      -webkit-text-stroke: 1px var(--success);
    }

    & .intro {
      margin: 2rem auto;
      font-weight: bold;
    }
  }
}
