/* 
    Index:
    - Reset
    - Sizes
    - Colours
    - Typography
    - Utilities
*/

/*  || RESET  */
/* Credit Josh Comeau: https://www.joshwcomeau.com/css/custom-css-reset/ */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

/*  || SIZES  */
html {
  font-size: 16px;

  @media (min-width: 1024px) {
    font-size: 20px;
  }
}

/*  || COLOURS  */
:root {
  --neutral-50: #fafafa;
  --neutral-100: #f5f5f5;
  --neutral-200: #e5e5e5;
  --neutral-300: #d4d4d4;
  --neutral-500: #737373;
  --neutral-700: #404040;
  --neutral-900: #171717;
  --primary: var(--neutral-700);
  --secondary: var(--neutral-500);
  --primary-yellow: linear-gradient(45deg, #B45309, #CA8A04);
  --secondary-yellow: linear-gradient(45deg, #FDE68A, #FEF9C3);
  --primary-blue: linear-gradient(45deg, #0369A1, #2563EB);
  --secondary-blue: linear-gradient(45deg, #BAE6FD, #DBEAFE);
  --primary-grey: linear-gradient(45deg, #404040, #57534E);
  --secondary-grey: linear-gradient(45deg, #E5E5E5, #F5F5F4);
  --primary-black: linear-gradient(45deg, #E2E8F0, #F3F4F6);
  --secondary-black: linear-gradient(45deg, #020617, #111827);
}

body {
  &.yellow {
    background: var(--secondary-yellow);
  }

  &.blue {
    background: var(--secondary-blue);
  }

  &.grey {
    background: var(--secondary-grey);
  }

  &.black {
    background: var(--secondary-black);
    --primary: var(--neutral-100);
    --secondary: var(--neutral-300);
  }
}


/*  || TYPOGRAPHY */
@font-face {
  font-family: "Arial Rounded Bold";
  src:
    local("Arial Rounded Bold"),
    url("./_assets/fonts/Arial Rounded Bold.woff") format("woff");
}

:root {
  --sans-serif: "Arial Rounded Bold", Arial, sans-serif;
}

body {
  font-family: var(--sans-serif);
  font-size: 1rem;
  line-height: 2rem;
  color: var(--neutral-700);
}

/*  || UTILITIES */
body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  padding: 1rem 0;
}

main {
  flex: 1;
  display: flex;
  flex-flow: column;
}

.large {
  width: clamp(304px, 80%, 800px);
  margin: auto;
}