header {
  margin: auto;
  text-align: center;
  width: fit-content;
  
  & h1 {
    font-size: 4rem;
    line-height: 12rem;
    text-shadow: 0.5rem 0.5rem var(--dark-red);
    opacity: 0;
    animation: 4s fade-in forwards; 
    animation-delay: 1s;

    @media (min-width: 768px) {
      font-size: 8rem;
    }

    
  }

  & button {
    font-family: var(--sans-serif);
    font-size: 2rem;
    line-height: 4rem;
    color: var(--light-beige);
    background-color: var(--light-red);
    width: 100%;
    transition: background-color .2s ease-out;
    animation: 1s fade-in forwards;
    animation-delay: 2s;
    opacity: 0;

    &:hover {
      background-color: var(--dark-red);
      cursor: pointer;
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}