.player-form.one-player {
  width: 18rem;
  margin: auto;

  & label,
  & .player-form__difficulty {
    margin-top: 2rem;
    font-family: var(--mono);
  }

  & input {
    padding: 0 .5rem;
    width: 100%;
    font-family: var(--mono);
    font-size: 2rem;
    line-height: 4rem;
    color: var(--light-blue);
    border: 1px solid var(--light-blue);
  }

  & input[type="submit"] {
    margin-top: 4rem;
    font-family: var(--sans-serif);
    color: var(--light-beige);
    background-color: var(--light-red);
    border: none;

    &:hover {
      background-color: var(--dark-red);
      cursor: pointer;
    }
  }

  & .player-form__difficulty-spinner {
    display: flex;
    flex-flow: row;

    & #player-form__difficulty-value {
      flex: 1;
      font-family: var(--sans-serif);
      font-size: 2rem;
      line-height: 4rem;
      text-align: center;
    }

    & button {
      width: 4rem;
      height: 4rem;
      font-family: var(--sans-serif);
      font-size: 2rem;
      line-height: 4rem;
      color: var(--light-red);
      background-color: transparent;
      cursor: pointer;

      &:hover {
        color: var(--dark-red);
      }
    }
  }
}