.nav {
  flex: 0;
  padding: .5rem;
  margin-bottom: 2rem;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;

  @media (min-width: 1024px) {
    padding: 1rem;
  }

  & .nav__logo {
    font-size: 1rem;
    line-height: 1rem;
    color: var(--secondary);

    @media (min-width: 1024px) {
      font-size: 2rem;
      line-height: 2rem;
    }

    & .nav__umbrella-required {
      color: var(--primary);
    }
  }

  & .nav__units {
    flex-shrink: 0;
    display: flex;
    flex-flow: row;
    border-radius: 2rem;
    outline: 4px solid var(--neutral-200);
    background-color: var(--neutral-200);

    & .nav__unit {
      appearance: none;
      height: 2rem;
      width: 3rem;
      border-radius: 2rem;
      background-color: var(--neutral-200);

      &:before{
        display: inline-block;
        width: 100%;
        text-align: center;
      }

      &[value="metric"]:before {
        content: "ºC";
      }
      &[value="us"]:before {
        content: "ºF";
      }

      &:checked {
        background-color: var(--neutral-700);
        color: var(--neutral-200);
      }

      &:hover {
        cursor: pointer;
      }
    
    }

    & label {
      display: none;
    }
  }
}