.search {
  flex: 0;
  position: relative;
  margin-top: 0;
  margin-bottom: 2rem;

  & input {
    width: 100%;
    padding: 1rem 2rem;
    height: 4rem;
    font-size: 2rem;
    line-height: 2rem;
    background-color: var(--neutral-50);
    border: solid 4px var(--neutral-200);
    border-radius: 2rem;
    color: var(--neutral-700);

    &:focus {
      outline: none;
      border: solid 4px var(--neutral-500);
    }
  }

  & button {
    height: 2rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    border: 0;
    background-color: var(--neutral-50);

    &:before {
      content: url("assets/icons/search.svg") / "Search icon";
      font-size: 2rem;
    }
  }
}
